
html, body {                     
  margin: 0px;                  
  background-color: #ddc9ac;  
  color: #303030;              
}  

body * {                          
  overflow: hidden;               
  box-sizing: border-box;        
  margin: 0px;                   
}

div {
  border:solid 2px red;
}

.logo {
  width: 390px;
  
}       

header, footer {                 
  margin: 10px 0px;
  text-align: center;

}

main {                       
      color:#23231f   
}



.smalltext {
    text-align: center;
    font-size: 0.7em;
}

/* navigatie voor alle pagina's */
a:hover {
    text-decoration: underline;
}



nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dedede;
    overflow: auto;
  
}

nav ul li {
  float:left;
 
}

nav li a {
    display: block;
    color: #912727;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     list-style-type: none;
  margin:0;

}


/* layout voor ... */
.ponyo {
  color:#4a64a1;
  text-align:center;
}

.ponyobody {
  background-color:#78a7d3
}

.ponyocover {
  height: 500px
}

.totorobody {
  background-color:#6d7278
}

/* layout voor homepage */
.homepagetitle {
  text-align:center;
  
}
.left {
  float:left;
}
.right {
  float:right;
}
.logo {
  width:600px;
  padding-left:15px
} 

.logo img { /* plaatje in een .logo */
  width: 100%;
}

.text0 {
width:calc( 100% - 600px )
  

}

.history {
  width:600px;
  padding-right:15px;
}


.history img {
width:100%
}  


.museum {
  width:500px;
  padding-right:15px;
  
}


 totorotitle {
   text-align:left;
 }

