
html, body {                     
  margin: 0px;                  
  background-color: #EEEEEE;  
  color: #303030;              
}  

body * {                          
  overflow: hidden;               
  box-sizing: border-box;        
  margin: 0px;                   
}


.logo {
  width: 470px;
  
}       

header, footer {                 
  margin: 10px 0px;
  text-align: center;
  color
}

main {                       
         
}



.smalltext {
    text-align: center;
    font-size: 0.7em;
}


a:hover {
    text-decoration: underline;
}



nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
   list-style-type: none
  
}

nav ul li {
  float:left
 
}

nav li a {
    display: block;
    color: #912727;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
     list-style-type: none
  margin:0
  padding:0
}

  .totoro-title {
    
  }
